<tr>
	<td>
	{{id}}
	</td>
	<td>
	{{name}}
	</td>
    <td>
	{{email}}
	</td>
    <td>
	{{phone}}
	</td>
    <td>
	{{beach}}
	</td>
    <td>
	{{rentalitem}}
	</td>
	<td>
	{{rentaldate}}
	</td>
	<td>
<button class='deleteRow' data-id="{{this.id}}">Delete</button>

	</td>
</tr>  